* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image: url('./Images/day.jpeg');
    height: 300px;
    background-size: cover;
    background-position: center;
}

.social {
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}